@page
@model IndexModel
@{
    ViewData["Title"] = "BarberManager";
}

<div class="text-center">
    <h1 class="display-4">Sistema Principal</h1>
    <p>Gestion de servicios integrales barberia</a>.</p>
</div>
