@page
@model IndexModel
@{
    ViewData["Title"] = "Barber Manager";
}

<div class="cuerpo">
    <div class="text-center">
        <h1 class="display-4">Sistema Principal</h1>
        <p>Gestion de servicios integrales barberia</p>
    </div>
</div>