@page
@model BaberManager.Frontend.BarberoModel
@{
    ViewData["Title"] = "Listado Barberos" ;

<div class="v-container" >
    <div id="titulo-listado">

    <h1 id="regis">Listado de Barberos</h1>
    </div>
</div>
}
