@page
@model BaberManager.Frontent.ServiciosModel
@{
}

<h1>Listado Servicios</h1>
<table class="table" id="tableServicios">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>Corte cabello</th>
            <th>12000</th>
        </tr>
        <tr>
            <th>2</th>
            <th>Corte barba</th>
            <th>16000</th>
        </tr>
    </tbody>
</table>